type: "object"
properties:
  url:
    type: "string"
    format: "uri"
  callback_url:
    type: "string"
    format: "uri"
  accessToken:
    type: "string"
  transcodeAPIUrl:
    type: "string"
  hardcodedBroadcasters:
    type: "string"
  pipelineStrategy:
    type: string
    description:
      Force to use a specific strategy in the Catalyst pipeline. If not
      specified, the default strategy that Catalyst is configured for will be
      used. This field only available for admin users, and is only used for E2E
      testing.
    enum:
      - catalyst
      - background_external
      - background_mist
      - fallback_external
  output_locations:
    type: "array"
    items:
      oneOf:
      - type: "object"
        properties:
          type:
            type: "string"
            const: "object_store"
          url:
            type: "string"
            format: "uri"
          outputs:
            type: "object"
            properites:
              source_mp4:
                type: "boolean"
              source_segments:
                type: "boolean"
              transcoded_segments:
                type: "boolean"
        required:
        - "type"
        - "url"
        additionalProperties: false
      - type: "object"
        properties:
          type:
            type: "string"
            const: "pinata"
          pinata_access_key:
            type: "string"
            minLength: 1
          outputs:
            type: "object"
            properites:
              source_mp4:
                type: "boolean"
              source_segments:
                type: "boolean"
              transcoded_segments:
                type: "boolean"
        required:
        - "type"
        - "pinata_access_key"
        additionalProperties: false
    minItems: 1
  profiles:
    type: "array"
    items:
      type: "object"
      properties:
        name:
          type: "string"
        width:
          type: "integer"
        height:
          type: "integer"
        bitrate:
          type: "integer"
        fps:
          type: "integer"
        fpsDen:
          type: "integer"
        profile:
          type: "string"
        gop:
          type: "string"
        encoder:
          type: "string"
        colorDepth:
          type: "integer"
        chromaFormat:
          type: "integer"
      additionalProperties: false
      required:
      -  "name"
      - "width"
      -  "height"
      - "bitrate"
required:
  - "url"
  - "callback_url"
  - "output_locations"
additionalProperties: false
