name: Build binaries

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  linux:
    strategy:
      matrix:
        platform:
          - linux
        arch:
          - arm64
    name: Build binaries for ${{ matrix.platform }} platform (${{ matrix.arch }})
    runs-on: ubuntu-20.04
    steps:
      - name: Export OS and platform env
        run: |
          echo "GOOS=${{ matrix.platform }}" >> $GITHUB_ENV
          echo "GOARCH=${{ matrix.arch }}" >> $GITHUB_ENV

      - name: Set up go
        id: go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Restore cache
        id: cache-go-mod
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-${{ matrix.arch }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.arch }}-go-

      - name: Download dependencies
        if: steps.cache-go-mod.outputs.cache-hit != 'true'
        run: go mod download

      - name: Build
        run: |
          mkdir -p build/
          make all GO_BUILD_DIR="build/"